[Unit]
Description=SSH Per-Connection Server
Requires=dropbearkey.service
After=syslog.target dropbearkey.service

[Service]
ExecStart=-/usr/sbin/dropbear -i
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
